#main_content a {
  margin-right: 0px;
}

#main_content img {
  margin-bottom: 25px;
}

#main_content h2 {
  margin-bottom: 30px;
}

#menu a {
  font-size: 21px;
  font-style: italic;
}

#titulo h3 {
  color: #303030;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px
}

#titulo p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}