#main_content a {
  margin-right: 0px;
}

#main_content img {
  margin-bottom: 25px;
}

#main_content h2 {
  margin-bottom: 30px;
}

#menu a {
  font-size: 21px;
  font-style: italic;
}

#titulo h3 {
  color: #303030;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

#titulo p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}

#list p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 20px;
}

#list a {
	font-size: 22px;
	color: #303030;
	font-style: italic;
}

#articulo h3 {
	font-size: 28px;
	color: #303030;
	font-style: italic;
	font-weight: normal;
}

#articulo li {
	font-size: 22px;
	color: #303030;
	margin-bottom: 20px;
}

#articulo p {
	font-size: 20px;
}

#codigo p {
	font-size: 17px;
	font-style: italic;
}

#cuadro_texto p {
	font-size: 16px;
	font-style: italic;
	background-color: #696969;
	color: #FFFFFF;
	padding: 10px;
}